body {
  font-family: Arial, sans-serif;
  background: #ffe4f0;
  text-align: center;
  padding: 20px;
}

textarea {
  width: 90%;
  max-width: 400px;
  border: 2px solid pink;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  background-color: pink;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: hotpink;
  color: white;
}

#listaFofocas {
  margin-top: 20px;
  text-align: left;
}
.fofoca {
  background: white;
  border: 1px solid pink;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
}
